{% extends "../base.html" %}
{% block container%}
<script type="text/javascript">
      function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
      }  

</script>
    		<section>
				<!---Left navigation--->
				<div class="container-fluid">
						<div class="row-fluid">
								<div class="span3">
										<div class="main-left-part-bg">
												<div class="accordion" id="accordion2">
														<div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle"  href="{{reverse_url('projects.welcome')}}"> Getting Started</a> </div>
														</div>
                             {% if organisations %}
														<div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Organizations</a> </div>
																<div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
																		<div class="accordion-inner">
																				<ul class="nav nav-list">
                                            {% for org in organisations%}
																		          <li><a href="{{ reverse_url('projects.organisation', org.slug) }}">{{org.name}}</a></li>
                                            {% end %}

																				</ul>
																		</div>
																</div>
														</div>

                            {%end%}
                              <div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Projects</a> </div>
																<div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
																		<div class="accordion-inner">
																				<ul class="nav nav-list">
                                        {% if projects %}
                                            {% for projet in projects%}
																		          <li><a href="{{ reverse_url('projects.project', organisation.slug, projet.slug) }}">{{projet.name}}</a></li>
                                            {% end %}
                                        {% else %}
                                          <li>No projects are created</li>
                                          {% end %}
																				</ul>
																		</div>
																</div>
														</div>

                              <div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsefour">Tasklists</a> </div>
																<div id="collapsefour" class="accordion-body collapse" style="height: 0px; ">
																		<div class="accordion-inner">
																				<ul class="nav nav-list">
                                        {% if tasklists %}
                                            {% for tasklist in tasklists%}
																		          <li><a href="{{ reverse_url('projects.tasklist', organisation.slug, project.slug, tasklist.sequence) }}">{{tasklist.name}}</a></li>
                                            {% end %}
                                        {% else %}
                                          <li>No tasklists are created</li>
                                          {% end %}
																				</ul>
																		</div>
																</div>
														</div>




                            <div class="accordion-group">
                            <div class="accordion-heading"> <a class="accordion-toggle" href="{{ reverse_url('projects.tasklists', organisation.slug, project.slug)}}"> Add Task List</a> </div>
                            </div>

                            <div class="accordion-group">
                            <div class="accordion-heading"> <a class="accordion-toggle"  href="{{ reverse_url('projects.organisations') }}"> Create Organisation</a> </div>
                            </div>
                            <div class="accordion-group">
                            <div class="accordion-heading"> <a class="accordion-toggle"  href="{{ reverse_url('projects.organisations') }}"> Manage Organisations</a> </div>
                            </div>
												</div>										</div>
										<!---main-left-part-bg--->
								</div>
								<!---SPAN-3 END--->
								<div class="span9">
										<div>
												<ul class="breadcrumb">
														<li class="active">Welcome to <b>{{organisation.name}}</b> <i>project:{{project.name}}</i></li>
												</ul>
										</div>										
										<div class="row-fluid">
												<div class="span12">
														<button class="btn btn-inverse" data-toggle="modal" href="#myModal"> <span class="icn-plus icn-white"></span>Add new Task List</button>
														<h4>All Tasklists and Tasks</h4>
														<p>Manage all projects, tasklists and tasks.</p>
														
														<!---Popup start--->
														<div class="modal hide fade" id="myModal">
																<div class="modal-header">
																		<button class="close" data-dismiss="modal">×</button>
																		<h3>Add new Task List</h3>
																</div>
																<div class="modal-body">
																		<!---Buttons And content--->
                                    <p>Invite users to this project by typing email address</p>
                                    <div class="row-fluid">
                                      <div class="span3">&nbsp;</div>
                                      <div class="span6">
    
                                    <p> A task lists defines a milestone for your project. Inside a task list you can create Tasks and assign them to people.</p></br>
                                    <b>Choose a name for this Task List</b>&nbsp;&nbsp;<i> eg. prepare a documentation</i></br></br>
                                    <form action="{{reverse_url('projects.tasklists', organisation.slug, project.slug)}}" method="POST">
                                        {% module FormField(form.name, class_="form-field SiginupFormFealds", placeholder="tasklist Name") %}
                                        <input type="submit" value="Create" class="btn btn-inverse">
                                        {% module xsrf_form_html() %}
                                    </form>

                                    </div>
                                     <div class="span3">&nbsp;</div>
                                     </div>

																		<!---Button And content END--->
																</div>
																<div class="modal-footer"> <a href="#" class="btn" data-dismiss="modal">Close</a> </div>
														</div>
														<!---Popup END--->
												</div>
												<!---Spand-12 Start--->
												</div>



                  {%if tasklists %}
                  {% for tasklist in tasklists.keys()%}
										<div class="accordion-group-ud">
												<div class="accordion-heading-ud"> 
														<a class="accordion-toggle-ud" data-toggle="collapse" data-parent="#accordion2" href="#{{tasklist.id}}"> 
														<!--<span class="icn-right"></span>  -->
														<span class="box-number"></span>{{tasklist.name}} 
														</a> 
												</div>
												<div id="{{tasklist.id}}" class="accordion-body collapse" style="height: 0px; ">
														<div class="accordion-inner-ud">
																<!---User content Start--->
                                {% if tasklists[tasklist]%}
                                {% for task in tasklists[tasklist]%}

																  <div>
                                      <p>
                                        <a href="{{ reverse_url('projects.task', organisation.slug, project.slug, tasklist.sequence, task.sequence) }}">{{ task.title }}</a>
                                      <p>
																  </div>
                                {% end %}
                                {% else %}
                                  <div>
                                    <h4>No Tasks are created yet!</h4>
																		<p></p>
																  </div>
                                {% end %}

																<!---User content End--->
														</div>
												</div>
										</div>
                    {%end%}
                    {%else%}
                    <h3>No Tasklists are created yet</h3>
                    {%end%}



										
										
										
										<div>&nbsp;</div>
										<div class="clear"></div>
								</div>
								<!---SPAN-9 END--->
              </div>
				</div>
		</section>
  {% end %}

