{% extends "../base.html" %}
{% block container%}
<script type="text/javascript">
      function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
      }  

</script>
    		<section>
				<!---Left navigation--->
				<div class="container-fluid">
						<div class="row-fluid">
								<div class="span3">
										<div class="main-left-part-bg">
												<div class="accordion" id="accordion2">
														<div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle"  href="{{reverse_url('projects.welcome')}}"> Getting Started</a> </div>
														</div>
                             {% if organisations %}
														<div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Organizations</a> </div>
																<div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
																		<div class="accordion-inner">
																				<ul class="nav nav-list">
                                            {% for org in organisations%}
																		          <li><a href="{{ reverse_url('projects.organisation', org.slug) }}">{{org.name}}</a></li>
                                            {% end %}

																				</ul>
																		</div>
																</div>
														</div>

                            {%end%}
                              <div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Projects</a> </div>
																<div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
																		<div class="accordion-inner">
																				<ul class="nav nav-list">
                                        {% if projects %}
                                            {% for projet in projects%}
																		          <li><a href="{{ reverse_url('projects.project', organisation.slug, projet.slug) }}">{{projet.name}}</a></li>
                                            {% end %}
                                        {% else %}
                                          <li>No projects are created</li>
                                          {% end %}
																				</ul>
																		</div>
																</div>
														</div>

                              <div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsefour">Tasklists</a> </div>
																<div id="collapsefour" class="accordion-body collapse" style="height: 0px; ">
																		<div class="accordion-inner">
																				<ul class="nav nav-list">
                                        {% if tasklists %}
                                            {% for task_list in tasklists%}
																		          <li><a href="{{ reverse_url('projects.tasklist', organisation.slug, project.slug, task_list.sequence) }}">{{task_list.name}}</a></li>
                                            {% end %}
                                        {% else %}
                                          <li>No tasklists are created</li>
                                          {% end %}
																				</ul>
																		</div>
																</div>
														</div>


                              <div class="accordion-group">
																<div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsefive">Tasks</a> </div>
																<div id="collapsefive" class="accordion-body collapse" style="height: 0px; ">
																		<div class="accordion-inner">
																				<ul class="nav nav-list">
                                        {% if tasks %}
                                            {% for task_s in tasks%}
																		          <li><a href="{{ reverse_url('projects.task', organisation.slug, project.slug, tasklist.sequence, task_s.sequence) }}">{{task_s.title}}</a></li>
                                            {% end %}
                                        {% else %}
                                          <li>No tasks are created</li>
                                          {% end %}
																				</ul>
																		</div>
																</div>
														</div>




                            <div class="accordion-group">
                            <div class="accordion-heading"> <a class="accordion-toggle" href="{{ reverse_url('projects.task.new', organisation.slug, project.slug, tasklist.sequence)}}"> Add New Task</a> </div>
                            </div>


                            <div class="accordion-group">
                            <div class="accordion-heading"> <a class="accordion-toggle" href="{{ reverse_url('projects.tasklists', organisation.slug, project.slug)}}"> Add Task List</a> </div>
                            </div>

                            <div class="accordion-group">
                            <div class="accordion-heading"> <a class="accordion-toggle"  href="{{ reverse_url('projects.organisations') }}"> Create Organisation</a> </div>
                            </div>
                            <div class="accordion-group">
                            <div class="accordion-heading"> <a class="accordion-toggle"  href="{{ reverse_url('projects.organisations') }}"> Manage Organisations</a> </div>
                            </div>
												</div>										</div>
										<!---main-left-part-bg--->
								</div>
								<!---SPAN-3 END--->
								<div class="span9">
										<div>
												<ul class="breadcrumb">
														<li class="active">Welcome to <b>{{organisation.name}}</b> <i>project:{{project.name}}</i><i>Task List: {{tasklist.name}}</i><i>Task:{{task.title}}</i></li>
												</ul>
										</div>										
										<div class="row-fluid">
												<div class="span12">

														<h4>All Tasks under {{tasklist.name}}</h4>
														
														<!---Popup start--->


														<!---Popup END--->
												</div>
												<!---Spand-12 Start--->
												</div>



										<div class="accordion-group-ud">
												<div class="accordion-heading-ud"> 
														<a class="accordion-toggle-ud" data-toggle="collapse" data-parent="#accordion2" href="#{{task.id}}"> 
														<span class="icn-right"></span><h2>{{task.title}}</h2>
                            <div>&nbsp;</div>

														<span class="box-number"></span>  
                                <b>{{ task.title }}</b> on <b>{{tasklist.name}}</b> task list &nbsp;<span class="box-resolve">{{task.status}}</span>
<p class="excerpt"><strong>Project:</strong> {{project.name}}</p>
														</a> 
												</div>
                        <div id="{{task.id}}" class="accordion-body collapse" style="height: 0px; ">
												<div class="accordion-inner-ud">
                      {%if task.follow_ups%}
                        {%for i in task.follow_ups%}
																<!---User content Start--->
                                 
                                      <div>
                                        <p>
                                          status : <b><span class="box-resolve">{{i.to_status}}</span></b></br>
                                          <b>{{current_user.name}}</b> &nbsp;Assigned to : <b>{{i.assigned_to.name}}</b></br>
                                          {{i.message}}
                                        </p>
                                        <hr>
                                        </div>
																<!---User content End--->
                          {%end%}
                      {%end%}
														</div>
												</div>
										</div>

              <form method="POST", action="/{{organisation.slug}}/{{project.slug}}/{{tasklist.sequence}}/tasks/{{task.sequence}}/comment">
              <div class="form-inline">
                 {% module FormField(form.comment, class_="form-field SiginupFormFealds") %}
                 {% module FormField(form.status, class_="form-field") %}
                 {% module FormField(form.assigned_to, class_="form-field") %}
                 <div class="actions ">
                <input type="submit" value="Save"
                    class="btn btn-inverse btn-small" data-loading-text="Please Wait...">
                </div>
                {% module xsrf_form_html() %}
                </div>
               </form>

										<div>&nbsp;</div>
										<div class="clear"></div>
								</div>
								<!---SPAN-9 END--->
              </div>
				</div>
		</section>
  {% end %}

